html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body{
    background: #020e1e url(/images/background.png) no-repeat center top;
    min-height: 100%;
}
footer{
    display:block;
    background: rgba(6,15,28,0.6);
    border-top: solid 1px #081424;
    position: fixed;
    color:#FFF;
    bottom: 0px;
    width: 100%;
    height:45px;
    clear:both;
}
/*
**************************
**************************
**************************
*********NAVBAR***********
**************************
**************************
**************************
**************************
*/
.logo{
    position:relative;
    float:left;
}

.navbar-inverse {
    background-color: transparent !important;
    border: 0px solid transparent;
}
.navbar-right{
    font-size: 14pt;
    font-weight: bold;
    margin-top: 30px;
    color:#fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #41ade2;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #41ade2;
}
/*
**************************
**************************
**************************
***********NEWS***********
**************************
**************************
**************************
**************************
*/
.news{
    position: relative;
    margin-top: 26px;
    float:left;
    width: 355px;
    height:355px;
    overflow:hidden;
}
.news img{
    width: 421px;
    height:356px;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background: rgba(74,105,151, 0.6);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}
.caption_news{
    margin: 10px;
}
.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
border-radius: 200px;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0;
padding:7px 14px;
position: absolute;
right: 15px;
bottom: -5px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.hovereffect p{
    color:#FFF;
    text-align:center;
position:relative;
font-size:17px;
-webkit-transform:translatex(-300px);
-ms-transform:translatex(-300px);
transform:translatex(-300px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
}
.hovereffect:hover p, .hovereffect:hover a.info{
    opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatex(0);
-webkit-transform:translatex(0);
transform:translatex(0);
}

/*
**************************
**************************
**************************
***********NEWS***********
**************************
**************************
**************************
**************************
*/
.sponsors{
    position: relative;
    float:left;
    width: 166px;
    height:141px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    margin:2px;
}
.sponsors img{
    width: 202px;
    height:140px;
}
.sponsors_princ{
    color:#FFF;
    border-left: solid 2px #199bf2;
    border-radius:1px;
    margin-top:52px;
    padding-left: 10px;
    font-size: 25pt;
    text-transform: uppercase;
}

 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.glyphicon-chevron-left{
    color: #1e8ed3;
}
.glyphicon-chevron-right{
    color:#1e8ed3;
}
.slider_part{
    background: url(/images/partenaire_bar.png) no-repeat center top;
    height: 125px;
}

.sponsors_in{
    background: rgba(0,0,0,0.6);
    margin:10px;
    min-height: 150px;
    color:#FFF;
}
.sponsors_in img{
    background: none;
    margin:20px;
}
.sponsors_in p{
    margin:20px;
}

.teams{
    color:#FFF;
}
.teams img{
    position:relative;
    float:left;
    margin: 5px 0;
}
.teams .name{
    font-size: 14pt;
    color: #FFF;
}
.teams .nickname{
    font-size: 16pt;
    color:#1581d1;
}
.teams .player_introduce{
    position: absolute;
    left: 30%;
    width: 60%;
}
.blog{
    background: rgba(74,105,151, 0.6);
    color:#FFF;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
}



.blogger-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.blogger { font-size: 16px; }
form.blogger div { clear: left; margin-bottom: 10px; }
form.blogger label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.blogger input[type="text"],
form.blogger input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.blogger textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.blogger input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.blogger ul li { color: #ff0000; margin-bottom: 5px; }



.abouts img{
    position:relative;
    left:120px;
}

.abouts{
    background: rgba(2, 14, 30, 0.5);
    color: #FFF;
}

.carousel_text{
    position:absolute;
    background: rgba(2, 14, 30, 0.5);
    bottom: 0px;
left: 0px;
}
